{% extends 'layout.html.twig' %}

{% block title %} {{ title_news}} {% endblock %}

{% block body %}
    <div id="content">
        <div class="content">
            <ul>
                <li>
                    <h2>Template details</h2>
                    <p> <span>Version 2<span> Website Template details, discussion and updates for this Minimalistic Web Template. Website Template design by Free Website Templates. Please feel free to remove some or all the text and links of this page and replace it with your own About content. </span></span></p>
                    <p> <span>Version 2<span> Website Template details, discussion and updates for this Minimalistic Web Template. Website Template design by Free Website Templates. Please feel free to remove some or all the text and links of this page and replace it with your own About content. </span></span></p>
                    <p> <span>Version 2<span> Website Template details, discussion and updates for this Minimalistic Web Template. Website Template design by Free Website Templates. Please feel free to remove some or all the text and links of this page and replace it with your own About content. </span></span></p>
                    <p> <span>Version 2<span> Website Template details, discussion and updates for this Minimalistic Web Template. Website Template design by Free Website Templates. Please feel free to remove some or all the text and links of this page and replace it with your own About content. </span></span></p>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
