{% extends 'layout.html.twig' %}

{% block title %} {{ title_news}} {% endblock %}

{% block body %}
    <div id="content">
        <div class="content">
            <ul>
                <li>
                    <h2>We Have More Templates for You</h2>
                    <p> Looking for more templates? Just browse through all our Free Website Templates and find what you're looking for. But if you don't find any website template you can use, you can try our Free Web Design service and tell us all about it. Maybe you're looking for something diferent, something special. And we love the challenge of doing something diferent and something special. </p>
                    <p> Looking for more templates? Just browse through all our Free Website Templates and find what you're looking for. But if you don't find any website template you can use, you can try our Free Web Design service and tell us all about it. Maybe you're looking for something diferent, something special. And we love the challenge of doing something diferent and something special. </p>
                    <p> Looking for more templates? Just browse through all our Free Website Templates and find what you're looking for. But if you don't find any website template you can use, you can try our Free Web Design service and tell us all about it. Maybe you're looking for something diferent, something special. And we love the challenge of doing something diferent and something special. </p>
                    <p> Looking for more templates? Just browse through all our Free Website Templates and find what you're looking for. But if you don't find any website template you can use, you can try our Free Web Design service and tell us all about it. Maybe you're looking for something diferent, something special. And we love the challenge of doing something diferent and something special. </p>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
