{% extends 'layout.html.twig' %}

{% block title %}{{ title_article }}{% endblock %}

{% block body %}
    <div id="content">
        <div class="content">
            <ul class="article">
                <li><img src="images/cotton-flower2.jpg" width="132" height="132" alt="">
                    <h2>Blog Title Number One</h2>
                    <p> This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis diam urna, malesuada in porttitor eget, </p>
                    <p> This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis diam urna, malesuada in porttitor eget, </p>
                    <p> This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis diam urna, malesuada in porttitor eget, </p>
                    <p> This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis diam urna, malesuada in porttitor eget, </p>
            </ul>
        </div>
    </div>
{% endblock %}
