{% extends 'layout.html.twig' %}

{% block title %}{{ title_article }}{% endblock %}

{% block body %}
    <div id="content">
        <div class="content">
            <ul class="article">
                <li><img src="images/cotton-flower2.jpg" width="132" height="132" alt="">
                    <h2>Blog Title Number One</h2>
                    <p> Website Template details, discussion and updates for this pollenaminima template. Website Template design by Free Website Templates. Please feel free to remove some or all the text and links of this page and replace it with your own About content. </p>
                    <p> Website Template details, discussion and updates for this pollenaminima template. Website Template design by Free Website Templates. Please feel free to remove some or all the text and links of this page and replace it with your own About content. </p>
                    <p> Website Template details, discussion and updates for this pollenaminima template. Website Template design by Free Website Templates. Please feel free to remove some or all the text and links of this page and replace it with your own About content. </p>
                    <p> Website Template details, discussion and updates for this pollenaminima template. Website Template design by Free Website Templates. Please feel free to remove some or all the text and links of this page and replace it with your own About content. </p>
            </ul>
        </div>
    </div>
{% endblock %}
