{% extends 'layout.html.twig' %}

{% block title %}Hello {{ title_contact }}!{% endblock %}

{% block body %}

    <div id="content">
        <div class="content">
            <ul>
                <li>
                    <p> This website template has been designed by Free Website Templates for you, for free. You can replace all </p>
                    <p> this text with your own text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis diam urna, malesuada in porttitor eget, suscipit sit amet nulla.e to use this website template without linking back to us. Donec nec arcu quis dolor aliquam malesuada. Mauris auctor, eros at fermentum condimentum, enim orci sagittis eros, sed lobortis est augue a elit. Donec eu neque eros, vel posuere orci. Nunc sed </p>
                    <span>412 Eagle Street</span> <span>Building 1, District 2, CA</span> <span>USA 900899</span> <a href="#"><span>pollena@info.com</span></a> </li>
            </ul>
        </div>
    </div>

{% endblock %}
